.vscode
old
auth.k
bearer_token.txt
.ipynb_checkpoints
samples.xlsx
top-tweets.xlsx
datasets/raw
datasets/vaccination_all_tweets.csv
datasets/vaccines-labeled-lexicon.csv
datasets/vaccines-labeled-manual.csv
datasets/vaccines-to-sent-classify.csv